<div class="container mt-5">
  <h1 class="text-center mb-5">Ask something to the coach</h1>
  <div class="d-flex justify-content-center">
    <form action="/answer" method="get" class="w-50 p-4 border rounded bg-light shadow" novalidate>
      <div class="mb-3">
        <label for="question" class="form-label">Your question :</label>
        <input type="text" name="question" id="question" class="form-control" placeholder="ask something ?">
      </div>
      <div class="text-center">
        <input type="submit" value="Ask!" class="btn btn-primary">
      </div>
    </form>
  </div>
</div>
